{% extends 'core/base.html' %}

{% block title %}Loja PW II | Home{% endblock %}

{% block wrapper %}
<div id="wrapper" class="clearfix">
    {% include 'core/header.html' %}

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <!-- Shop -->
                <div id="shop" class="shop row grid-container gutter-30" data-layout="fitRows">
                    
                    <!-- Produto 1 -->
                    <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="grid-inner">
                            <div class="product-image">
                                <a href="{{ url_for('shop_single', product_id=1) }}">
                                    <img src="{{ url_for('static', filename='images/shop/dress/1.jpg') }}" alt="Checked Short Dress">
                                </a>
                                <a href="{{ url_for('shop_single', product_id=1) }}">
                                    <img src="{{ url_for('static', filename='images/shop/dress/1-1.jpg') }}" alt="Checked Short Dress">
                                </a>
                                <div class="sale-flash badge bg-secondary p-2">Out of Stock</div>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content align-items-end justify-content-between"
                                        data-hover-animate="fadeIn" data-hover-speed="400">
                                        <a href="{{ url_for('shop_single', product_id=1) }}" class="btn btn-dark me-2">
                                            <i class="icon-shopping-basket"></i>
                                        </a>
                                        <a href="{{ url_for('shop_single', product_id=1) }}" class="btn btn-dark">
                                            <i class="icon-line-expand"></i>
                                        </a>
                                    </div>
                                    <div class="bg-overlay-bg bg-transparent"></div>
                                </div>
                            </div>
                            <div class="product-desc">
                                <div class="product-title">
                                    <h3><a href="{{ url_for('shop_single', product_id=1) }}">Checked Short Dress</a></h3>
                                </div>
                                <div class="product-price"><del>$24.99</del> <ins>$12.49</ins></div>
                                <div class="product-rating">
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star-half-full"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Produto 2 -->
                    <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="grid-inner">
                            <div class="product-image">
                                <a href="{{ url_for('shop_single', product_id=2) }}">
                                    <img src="{{ url_for('static', filename='images/shop/pants/1-1.jpg') }}" alt="Slim Fit Chinos">
                                </a>
                                <a href="{{ url_for('shop_single', product_id=2) }}">
                                    <img src="{{ url_for('static', filename='images/shop/pants/1.jpg') }}" alt="Slim Fit Chinos">
                                </a>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content align-items-end justify-content-between"
                                        data-hover-animate="fadeIn" data-hover-speed="400">
                                        <a href="{{ url_for('shop_single', product_id=2) }}" class="btn btn-dark me-2">
                                            <i class="icon-shopping-basket"></i>
                                        </a>
                                        <a href="{{ url_for('shop_single', product_id=2) }}" class="btn btn-dark">
                                            <i class="icon-line-expand"></i>
                                        </a>
                                    </div>
                                    <div class="bg-overlay-bg bg-transparent"></div>
                                </div>
                            </div>
                            <div class="product-desc">
                                <div class="product-title">
                                    <h3><a href="{{ url_for('shop_single', product_id=2) }}">Slim Fit Chinos</a></h3>
                                </div>
                                <div class="product-price">$39.99</div>
                                <div class="product-rating">
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star-half-full"></i>
                                    <i class="icon-star-empty"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Produto 3 -->
                    <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="grid-inner">
                            <div class="product-image">
                                <div class="fslider" data-arrows="false">
                                    <div class="flexslider">
                                        <div class="slider-wrap">
                                            <div class="slide">
                                                <a href="{{ url_for('shop_single', product_id=3) }}">
                                                    <img src="{{ url_for('static', filename='images/shop/shoes/1.jpg') }}" alt="Dark Brown Boots">
                                                </a>
                                            </div>
                                            <div class="slide">
                                                <a href="{{ url_for('shop_single', product_id=3) }}">
                                                    <img src="{{ url_for('static', filename='images/shop/shoes/1-1.jpg') }}" alt="Dark Brown Boots">
                                                </a>
                                            </div>
                                            <div class="slide">
                                                <a href="{{ url_for('shop_single', product_id=3) }}">
                                                    <img src="{{ url_for('static', filename='images/shop/shoes/1-2.jpg') }}" alt="Dark Brown Boots">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content align-items-end justify-content-between"
                                        data-hover-animate="fadeIn" data-hover-speed="400">
                                        <a href="{{ url_for('shop_single', product_id=3) }}" class="btn btn-dark me-2">
                                            <i class="icon-shopping-basket"></i>
                                        </a>
                                        <a href="{{ url_for('shop_single', product_id=3) }}" class="btn btn-dark">
                                            <i class="icon-line-expand"></i>
                                        </a>
                                    </div>
                                    <div class="bg-overlay-bg bg-transparent"></div>
                                </div>
                            </div>
                            <div class="product-desc">
                                <div class="product-title">
                                    <h3><a href="{{ url_for('shop_single', product_id=3) }}">Dark Brown Boots</a></h3>
                                </div>
                                <div class="product-price">$49</div>
                                <div class="product-rating">
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star-empty"></i>
                                    <i class="icon-star-empty"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Produto 4 -->
                    <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="grid-inner">
                            <div class="product-image">
                                <a href="{{ url_for('shop_single', product_id=4) }}">
                                    <img src="{{ url_for('static', filename='images/shop/dress/2.jpg') }}" alt="Light Blue Denim Dress">
                                </a>
                                <a href="{{ url_for('shop_single', product_id=4) }}">
                                    <img src="{{ url_for('static', filename='images/shop/dress/2-2.jpg') }}" alt="Light Blue Denim Dress">
                                </a>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content align-items-end justify-content-between"
                                         data-hover-animate="fadeIn" data-hover-speed="400">
                                        <a href="{{ url_for('shop_single', product_id=4) }}" class="btn btn-dark me-2">
                                            <i class="icon-shopping-basket"></i>
                                        </a>
                                        <a href="{{ url_for('shop_single', product_id=4) }}" class="btn btn-dark">
                                            <i class="icon-line-expand"></i>
                                        </a>
                                    </div>
                                    <div class="bg-overlay-bg bg-transparent"></div>
                                </div>
                            </div>
                            <div class="product-desc">
                                <div class="product-title">
                                    <h3><a href="{{ url_for('shop_single', product_id=4) }}">Light Blue Denim Dress</a></h3>
                                </div>
                                <div class="product-price">$19.95</div>
                                <div class="product-rating">
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star-empty"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Produto 5 -->
                    <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="grid-inner">
                            <div class="product-image">
                                <a href="{{ url_for('shop_single', product_id=5) }}">
                                    <img src="{{ url_for('static', filename='images/shop/sunglasses/1.jpg') }}" alt="Unisex Sunglasses">
                                </a>
                                <a href="{{ url_for('shop_single', product_id=5) }}">
                                    <img src="{{ url_for('static', filename='images/shop/sunglasses/1-1.jpg') }}" alt="Unisex Sunglasses">
                                </a>
                                <div class="sale-flash badge bg-success p-2 text-uppercase">Sale!</div>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content align-items-end justify-content-between"
                                         data-hover-animate="fadeIn" data-hover-speed="400">
                                        <a href="{{ url_for('shop_single', product_id=5) }}" class="btn btn-dark me-2">
                                            <i class="icon-shopping-basket"></i>
                                        </a>
                                        <a href="{{ url_for('shop_single', product_id=5) }}" class="btn btn-dark">
                                            <i class="icon-line-expand"></i>
                                        </a>
                                    </div>
                                    <div class="bg-overlay-bg bg-transparent"></div>
                                </div>
                            </div>
                            <div class="product-desc">
                                <div class="product-title">
                                    <h3><a href="{{ url_for('shop_single', product_id=5) }}">Unisex Sunglasses</a></h3>
                                </div>
                                <div class="product-price"><del>$19.99</del> <ins>$11.99</ins></div>
                                <div class="product-rating">
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star-empty"></i>
                                    <i class="icon-star-empty"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Produto 6 -->
                    <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="grid-inner">
                            <div class="product-image">
                                <a href="{{ url_for('shop_single', product_id=6) }}">
                                    <img src="{{ url_for('static', filename='images/shop/tshirts/1.jpg') }}" alt="Blue Round-Neck Tshirt">
                                </a>
                                <a href="{{ url_for('shop_single', product_id=6) }}">
                                    <img src="{{ url_for('static', filename='images/shop/tshirts/1-1.jpg') }}" alt="Blue Round-Neck Tshirt">
                                </a>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content align-items-end justify-content-between"
                                         data-hover-animate="fadeIn" data-hover-speed="400">
                                        <a href="{{ url_for('shop_single', product_id=6) }}" class="btn btn-dark me-2">
                                            <i class="icon-shopping-basket"></i>
                                        </a>
                                        <a href="{{ url_for('shop_single', product_id=6) }}" class="btn btn-dark">
                                            <i class="icon-line-expand"></i>
                                        </a>
                                    </div>
                                    <div class="bg-overlay-bg bg-transparent"></div>
                                </div>
                            </div>
                            <div class="product-desc">
                                <div class="product-title">
                                    <h3><a href="{{ url_for('shop_single', product_id=6) }}">Blue Round-Neck Tshirt</a></h3>
                                </div>
                                <div class="product-price">$9.99</div>
                                <div class="product-rating">
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star-half-full"></i>
                                    <i class="icon-star-empty"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Produto 7 -->
                    <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="grid-inner">
                            <div class="product-image">
                                <a href="{{ url_for('shop_single', product_id=7) }}">
                                    <img src="{{ url_for('static', filename='images/shop/watches/1.jpg') }}" alt="Silver Chrome Watch">
                                </a>
                                <a href="{{ url_for('shop_single', product_id=7) }}">
                                    <img src="{{ url_for('static', filename='images/shop/watches/1-1.jpg') }}" alt="Silver Chrome Watch">
                                </a>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content align-items-end justify-content-between"
                                         data-hover-animate="fadeIn" data-hover-speed="400">
                                        <a href="{{ url_for('shop_single', product_id=7) }}" class="btn btn-dark me-2">
                                            <i class="icon-shopping-basket"></i>
                                        </a>
                                        <a href="{{ url_for('shop_single', product_id=7) }}" class="btn btn-dark">
                                            <i class="icon-line-expand"></i>
                                        </a>
                                    </div>
                                    <div class="bg-overlay-bg bg-transparent"></div>
                                </div>
                            </div>
                            <div class="product-desc">
                                <div class="product-title">
                                    <h3><a href="{{ url_for('shop_single', product_id=7) }}">Silver Chrome Watch</a></h3>
                                </div>
                                <div class="product-price">$129.99</div>
                                <div class="product-rating">
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star-half-full"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Produto 8 -->
                    <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="grid-inner">
                            <div class="product-image">
                                <a href="{{ url_for('shop_single', product_id=8) }}">
                                    <img src="{{ url_for('static', filename='images/shop/shoes/2.jpg') }}" alt="Men Grey Casual Shoes">
                                </a>
                                <a href="{{ url_for('shop_single', product_id=8) }}">
                                    <img src="{{ url_for('static', filename='images/shop/shoes/2-1.jpg') }}" alt="Men Grey Casual Shoes">
                                </a>
                                <div class="sale-flash badge bg-success p-2 text-uppercase">Sale!</div>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content align-items-end justify-content-between"
                                         data-hover-animate="fadeIn" data-hover-speed="400">
                                        <a href="{{ url_for('shop_single', product_id=8) }}" class="btn btn-dark me-2">
                                            <i class="icon-shopping-basket"></i>
                                        </a>
                                        <a href="{{ url_for('shop_single', product_id=8) }}" class="btn btn-dark">
                                            <i class="icon-line-expand"></i>
                                        </a>
                                    </div>
                                    <div class="bg-overlay-bg bg-transparent"></div>
                                </div>
                            </div>
                            <div class="product-desc">
                                <div class="product-title">
                                    <h3><a href="{{ url_for('shop_single', product_id=8) }}">Men Grey Casual Shoes</a></h3>
                                </div>
                                <div class="product-price"><del>$45.99</del> <ins>$39.49</ins></div>
                                <div class="product-rating">
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star-half-full"></i>
                                    <i class="icon-star-empty"></i>
                                    <i class="icon-star-empty"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Produto 9 -->
                    <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="grid-inner">
                            <div class="product-image">
                                <div class="fslider" data-arrows="false">
                                    <div class="flexslider">
                                        <div class="slider-wrap">
                                            <div class="slide">
                                                <a href="{{ url_for('shop_single', product_id=9) }}">
                                                    <img src="{{ url_for('static', filename='images/shop/dress/3.jpg') }}" alt="Pink Printed Dress">
                                                </a>
                                            </div>
                                            <div class="slide">
                                                <a href="{{ url_for('shop_single', product_id=9) }}">
                                                    <img src="{{ url_for('static', filename='images/shop/dress/3-1.jpg') }}" alt="Pink Printed Dress">
                                                </a>
                                            </div>
                                            <div class="slide">
                                                <a href="{{ url_for('shop_single', product_id=9) }}">
                                                    <img src="{{ url_for('static', filename='images/shop/dress/3-2.jpg') }}" alt="Pink Printed Dress">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content align-items-end justify-content-between"
                                         data-hover-animate="fadeIn" data-hover-speed="400">
                                        <a href="{{ url_for('shop_single', product_id=9) }}" class="btn btn-dark me-2">
                                            <i class="icon-shopping-basket"></i>
                                        </a>
                                        <a href="{{ url_for('shop_single', product_id=9) }}" class="btn btn-dark">
                                            <i class="icon-line-expand"></i>
                                        </a>
                                    </div>
                                    <div class="bg-overlay-bg bg-transparent"></div>
                                </div>
                            </div>
                            <div class="product-desc">
                                <div class="product-title">
                                    <h3><a href="{{ url_for('shop_single', product_id=9) }}">Pink Printed Dress</a></h3>
                                </div>
                                <div class="product-price">$39.49</div>
                                <div class="product-rating">
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star-empty"></i>
                                    <i class="icon-star-empty"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Produto 10 -->
                    <div class="product col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="grid-inner">
                            <div class="product-image">
                                <a href="{{ url_for('shop_single', product_id=10) }}">
                                    <img src="{{ url_for('static', filename='images/shop/pants/5.jpg') }}" alt="Green Trousers">
                                </a>
                                <a href="{{ url_for('shop_single', product_id=10) }}">
                                    <img src="{{ url_for('static', filename='images/shop/pants/5-1.jpg') }}" alt="Green Trousers">
                                </a>
                                <div class="sale-flash badge bg-success p-2 text-uppercase">Sale!</div>
                                <div class="bg-overlay">
                                    <div class="bg-overlay-content align-items-end justify-content-between"
                                         data-hover-animate="fadeIn" data-hover-speed="400">
                                        <a href="{{ url_for('shop_single', product_id=10) }}" class="btn btn-dark me-2">
                                            <i class="icon-shopping-basket"></i>
                                        </a>
                                        <a href="{{ url_for('shop_single', product_id=10) }}" class="btn btn-dark">
                                            <i class="icon-line-expand"></i>
                                        </a>
                                    </div>
                                    <div class="bg-overlay-bg bg-transparent"></div>
                                </div>
                            </div>
                            <div class="product-desc">
                                <div class="product-title">
                                    <h3><a href="{{ url_for('shop_single', product_id=10) }}">Green Trousers</a></h3>
                                </div>
                                <div class="product-price"><del>$24.99</del> <ins>$21.99</ins></div>
                                <div class="product-rating">
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star-half-full"></i>
                                    <i class="icon-star-empty"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div><!-- #shop end -->
            </div>
        </div>
    </section>

    {% include 'core/footer.html' %}
</div>
{% endblock %}
